## Task -1 Exploratory Data Analysis

In [ ]:
"""
Installing Spark with its dependencies
Installing Spark
Install Dependencies:

Java 8
Apache Spark with hadoop and
Findspark (used to locate the spark in the system)
"""

!sudo ./install_spark.py

In [1]:
#Set Environment Variables:

import os

current_directory = os.getcwd()


os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = os.path.join(current_directory,"spark-3.1.1-bin-hadoop3.2")

In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

#Create a SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("MovieLens") \
    .config("spark.jars", "spark-3.1.1-bin-hadoop3.2/jars/sqlite-jdbc-3.34.0.jar") \
    .getOrCreate()

spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

24/01/23 12:17:50 WARN Utils: Your hostname, codespaces-7047d6 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/01/23 12:17:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/01/23 12:17:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
#will be used sqlite3 to be able to reach .db file

import sqlite3

con = sqlite3.connect('Datasets/movielens-small.db')
cur = con.cursor()

In [4]:
# Get the field information of each table in the database

# Define a function to print table information in a readable way
def print_table_info(table_name, table_info):
    print(f"\nTable: {table_name}")
    for row in table_info:
        print(row[0], row[1], row[2],sep=": ")

# Get and print information for the 'movies' table
cur.execute("PRAGMA table_info(movies);")
movies_info = cur.fetchall()
print_table_info("movies", movies_info)

# Get and print information for the 'ratings' table
cur.execute("PRAGMA table_info(ratings);")
ratings_info = cur.fetchall()
print_table_info("ratings", ratings_info)

# Get and print information for the 'links' table
cur.execute("PRAGMA table_info(links);")
links_info = cur.fetchall()
print_table_info("links", links_info)

# Get and print information for the 'tags' table
cur.execute("PRAGMA table_info(tags);")
tags_info = cur.fetchall()
print_table_info("tags", tags_info)

Table: movies
0: movieId: INT
1: title: TEXT
2: year: INT
3: genres: TEXT

Table: ratings
0: userId: INT
1: movieId: INT
2: rating: REAL
3: timestamp: INT

Table: links
0: movieId: INT
1: imdbId: TEXT
2: tmdbId: TEXT

Table: tags
0: userId: INT
1: movieId: INT
2: tag: TEXT
3: timestamp: NUM

In [ ]:
#For SQLite JDBC driver, it can be downloaded via:

!curl -O https://repo1.maven.org/maven2/org/xerial/sqlite-jdbc/3.34.0/sqlite-jdbc-3.34.0.jar

In [5]:
# install sqlite-jdbc-3.34.0.jar to the spark/jars directory

!sudo cp sqlite-jdbc-3.34.0.jar spark-3.1.1-bin-hadoop3.2/jars/

#check the jar file is in the spark/jars directory

!ls spark-3.1.1-bin-hadoop3.2/jars/

HikariCP-2.5.1.jar
JLargeArrays-1.5.jar
JTransforms-3.1.jar
RoaringBitmap-0.9.0.jar
ST4-4.0.4.jar
accessors-smart-1.2.jar
activation-1.1.1.jar
aircompressor-0.10.jar
algebra_2.12-2.0.0-M2.jar
antlr-runtime-3.5.2.jar
antlr4-runtime-4.8-1.jar
aopalliance-1.0.jar
aopalliance-repackaged-2.6.1.jar
arpack_combined_all-0.1.jar
arrow-format-2.0.0.jar
arrow-memory-core-2.0.0.jar
arrow-memory-netty-2.0.0.jar
arrow-vector-2.0.0.jar
audience-annotations-0.5.0.jar
automaton-1.11-8.jar
avro-1.8.2.jar
avro-ipc-1.8.2.jar
avro-mapred-1.8.2-hadoop2.jar
bonecp-0.8.0.RELEASE.jar
breeze-macros_2.12-1.0.jar
breeze_2.12-1.0.jar
cats-kernel_2.12-2.0.0-M4.jar
chill-java-0.9.5.jar
chill_2.12-0.9.5.jar
commons-beanutils-1.9.4.jar
commons-cli-1.2.jar
commons-codec-1.10.jar
commons-collections-3.2.2.jar
commons-compiler-3.0.16.jar
commons-compress-1.20.jar
commons-configuration2-2.1.1.jar
commons-crypto-1.1.0.jar
commons-daemon-1.0.13.jar
commons-dbcp-1.4.jar
commons-httpclient-3.1.jar
commons-io-2.5.jar
commons-lang-2.6.jar
commons-lang3-3.10.jar
commons-logging-1.1.3.jar
commons-math3-3.4.1.jar
commons-net-3.1.jar
commons-pool-1.5.4.jar
commons-text-1.6.jar
compress-lzf-1.0.3.jar
core-1.1.2.jar
curator-client-2.13.0.jar
curator-framework-2.13.0.jar
curator-recipes-2.13.0.jar
datanucleus-api-jdo-4.2.4.jar
datanucleus-core-4.1.17.jar
datanucleus-rdbms-4.1.19.jar
derby-10.12.1.1.jar
dnsjava-2.1.7.jar
dropwizard-metrics-hadoop-metrics2-reporter-0.1.2.jar
ehcache-3.3.1.jar
flatbuffers-java-1.9.0.jar
generex-1.0.2.jar
geronimo-jcache_1.0_spec-1.0-alpha-1.jar
gson-2.2.4.jar
guava-14.0.1.jar
guice-4.0.jar
guice-servlet-4.0.jar
hadoop-annotations-3.2.0.jar
hadoop-auth-3.2.0.jar
hadoop-client-3.2.0.jar
hadoop-common-3.2.0.jar
hadoop-hdfs-client-3.2.0.jar
hadoop-mapreduce-client-common-3.2.0.jar
hadoop-mapreduce-client-core-3.2.0.jar
hadoop-mapreduce-client-jobclient-3.2.0.jar
hadoop-yarn-api-3.2.0.jar
hadoop-yarn-client-3.2.0.jar
hadoop-yarn-common-3.2.0.jar
hadoop-yarn-registry-3.2.0.jar
hadoop-yarn-server-common-3.2.0.jar
hadoop-yarn-server-web-proxy-3.2.0.jar
hive-beeline-2.3.7.jar
hive-cli-2.3.7.jar
hive-common-2.3.7.jar
hive-exec-2.3.7-core.jar
hive-jdbc-2.3.7.jar
hive-llap-common-2.3.7.jar
hive-metastore-2.3.7.jar
hive-serde-2.3.7.jar
hive-service-rpc-3.1.2.jar
hive-shims-0.23-2.3.7.jar
hive-shims-2.3.7.jar
hive-shims-common-2.3.7.jar
hive-shims-scheduler-2.3.7.jar
hive-storage-api-2.7.2.jar
hive-vector-code-gen-2.3.7.jar
hk2-api-2.6.1.jar
hk2-locator-2.6.1.jar
hk2-utils-2.6.1.jar
htrace-core4-4.1.0-incubating.jar
httpclient-4.5.6.jar
httpcore-4.4.12.jar
istack-commons-runtime-3.0.8.jar
ivy-2.4.0.jar
jackson-annotations-2.10.0.jar
jackson-core-2.10.0.jar
jackson-core-asl-1.9.13.jar
jackson-databind-2.10.0.jar
jackson-dataformat-yaml-2.10.0.jar
jackson-datatype-jsr310-2.11.2.jar
jackson-jaxrs-base-2.9.5.jar
jackson-jaxrs-json-provider-2.9.5.jar
jackson-mapper-asl-1.9.13.jar
jackson-module-jaxb-annotations-2.10.0.jar
jackson-module-paranamer-2.10.0.jar
jackson-module-scala_2.12-2.10.0.jar
jakarta.activation-api-1.2.1.jar
jakarta.annotation-api-1.3.5.jar
jakarta.inject-2.6.1.jar
jakarta.servlet-api-4.0.3.jar
jakarta.validation-api-2.0.2.jar
jakarta.ws.rs-api-2.1.6.jar
jakarta.xml.bind-api-2.3.2.jar
janino-3.0.16.jar
javassist-3.25.0-GA.jar
javax.inject-1.jar
javax.jdo-3.2.0-m3.jar
javolution-5.5.1.jar
jaxb-api-2.2.11.jar
jaxb-runtime-2.3.2.jar
jcip-annotations-1.0-1.jar
jcl-over-slf4j-1.7.30.jar
jdo-api-3.0.1.jar
jersey-client-2.30.jar
jersey-common-2.30.jar
jersey-container-servlet-2.30.jar
jersey-container-servlet-core-2.30.jar
jersey-hk2-2.30.jar
jersey-media-jaxb-2.30.jar
jersey-server-2.30.jar
jline-2.14.6.jar
joda-time-2.10.5.jar
jodd-core-3.5.2.jar
jpam-1.1.jar
json-1.8.jar
json-smart-2.3.jar
json4s-ast_2.12-3.7.0-M5.jar
json4s-core_2.12-3.7.0-M5.jar
json4s-jackson_2.12-3.7.0-M5.jar
json4s-scalap_2.12-3.7.0-M5.jar
jsp-api-2.1.jar
jsr305-3.0.0.jar
jta-1.1.jar
jul-to-slf4j-1.7.30.jar
kerb-admin-1.0.1.jar
kerb-client-1.0.1.jar
kerb-common-1.0.1.jar
kerb-core-1.0.1.jar
kerb-crypto-1.0.1.jar
kerb-identity-1.0.1.jar
kerb-server-1.0.1.jar
kerb-simplekdc-1.0.1.jar
kerb-util-1.0.1.jar
kerby-asn1-1.0.1.jar
kerby-config-1.0.1.jar
kerby-pkix-1.0.1.jar
kerby-util-1.0.1.jar
kerby-xdr-1.0.1.jar
kryo-shaded-4.0.2.jar
kubernetes-client-4.12.0.jar
kubernetes-model-admissionregistration-4.12.0.jar
kubernetes-model-apiextensions-4.12.0.jar
kubernetes-model-apps-4.12.0.jar
kubernetes-model-autoscaling-4.12.0.jar
kubernetes-model-batch-4.12.0.jar
kubernetes-model-certificates-4.12.0.jar
kubernetes-model-common-4.12.0.jar
kubernetes-model-coordination-4.12.0.jar
kubernetes-model-core-4.12.0.jar
kubernetes-model-discovery-4.12.0.jar
kubernetes-model-events-4.12.0.jar
kubernetes-model-extensions-4.12.0.jar
kubernetes-model-metrics-4.12.0.jar
kubernetes-model-networking-4.12.0.jar
kubernetes-model-policy-4.12.0.jar
kubernetes-model-rbac-4.12.0.jar
kubernetes-model-scheduling-4.12.0.jar
kubernetes-model-settings-4.12.0.jar
kubernetes-model-storageclass-4.12.0.jar
leveldbjni-all-1.8.jar
libfb303-0.9.3.jar
libthrift-0.12.0.jar
log4j-1.2.17.jar
logging-interceptor-3.12.12.jar
lz4-java-1.7.1.jar
machinist_2.12-0.6.8.jar
macro-compat_2.12-1.1.1.jar
mesos-1.4.0-shaded-protobuf.jar
metrics-core-4.1.1.jar
metrics-graphite-4.1.1.jar
metrics-jmx-4.1.1.jar
metrics-json-4.1.1.jar
metrics-jvm-4.1.1.jar
minlog-1.3.0.jar
netty-all-4.1.51.Final.jar
nimbus-jose-jwt-4.41.1.jar
objenesis-2.6.jar
okhttp-2.7.5.jar
okhttp-3.12.12.jar
okio-1.14.0.jar
opencsv-2.3.jar
orc-core-1.5.12.jar
orc-mapreduce-1.5.12.jar
orc-shims-1.5.12.jar
oro-2.0.8.jar
osgi-resource-locator-1.0.3.jar
paranamer-2.8.jar
parquet-column-1.10.1.jar
parquet-common-1.10.1.jar
parquet-encoding-1.10.1.jar
parquet-format-2.4.0.jar
parquet-hadoop-1.10.1.jar
parquet-jackson-1.10.1.jar
protobuf-java-2.5.0.jar
py4j-0.10.9.jar
pyrolite-4.30.jar
re2j-1.1.jar
scala-collection-compat_2.12-2.1.1.jar
scala-compiler-2.12.10.jar
scala-library-2.12.10.jar
scala-parser-combinators_2.12-1.1.2.jar
scala-reflect-2.12.10.jar
scala-xml_2.12-1.2.0.jar
shapeless_2.12-2.3.3.jar
shims-0.9.0.jar
slf4j-api-1.7.30.jar
slf4j-log4j12-1.7.30.jar
snakeyaml-1.24.jar
snappy-java-1.1.8.2.jar
spark-catalyst_2.12-3.1.1.jar
spark-core_2.12-3.1.1.jar
spark-graphx_2.12-3.1.1.jar
spark-hive-thriftserver_2.12-3.1.1.jar
spark-hive_2.12-3.1.1.jar
spark-kubernetes_2.12-3.1.1.jar
spark-kvstore_2.12-3.1.1.jar
spark-launcher_2.12-3.1.1.jar
spark-mesos_2.12-3.1.1.jar
spark-mllib-local_2.12-3.1.1.jar
spark-mllib_2.12-3.1.1.jar
spark-network-common_2.12-3.1.1.jar
spark-network-shuffle_2.12-3.1.1.jar
spark-repl_2.12-3.1.1.jar
spark-sketch_2.12-3.1.1.jar
spark-sql_2.12-3.1.1.jar
spark-streaming_2.12-3.1.1.jar
spark-tags_2.12-3.1.1-tests.jar
spark-tags_2.12-3.1.1.jar
spark-unsafe_2.12-3.1.1.jar
spark-yarn_2.12-3.1.1.jar
spire-macros_2.12-0.17.0-M1.jar
spire-platform_2.12-0.17.0-M1.jar
spire-util_2.12-0.17.0-M1.jar
spire_2.12-0.17.0-M1.jar
sqlite-jdbc-3.34.0.jar
stax-api-1.0.1.jar
stax2-api-3.1.4.jar
stream-2.9.6.jar
super-csv-2.2.0.jar
threeten-extra-1.5.0.jar
token-provider-1.0.1.jar
transaction-api-1.1.jar
univocity-parsers-2.9.1.jar
velocity-1.5.jar
woodstox-core-5.0.3.jar
xbean-asm7-shaded-4.15.jar
xz-1.5.jar
zjsonpatch-0.3.0.jar
zookeeper-3.4.14.jar
zstd-jni-1.4.8-1.jar

In [6]:
# create a dataframe with including userid, movieid, genre and rating via pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Read the ratings table into a dataframe
ratings_df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:sqlite:Datasets/movielens-small.db") \
    .option("dbtable", "ratings") \
    .load()

# Read the movies table into a dataframe
movies_df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:sqlite:Datasets/movielens-small.db") \
    .option("dbtable", "movies") \
    .load()

# Read the links table into a dataframe
links_df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:sqlite:Datasets/movielens-small.db") \
    .option("dbtable", "links") \
    .load()

# Read the tags table into a dataframe
tags_df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:sqlite:Datasets/movielens-small.db") \
    .option("dbtable", "tags") \
    .load()

In [21]:
# Write a query to create a dataframe with including userid, movieid, genre and rating


# join ratings and movies dataframes on movieid column and create a new dataframe called ratings_movies_df via pyspark dataframe
ratings_movies_df = ratings_df.join(movies_df, on="movieId", how="left")

# show the userid, movieid, genre and rating columns of ratings_movies_df dataframe
ratings_movies_df.select("userId", "movieId", "genres", "rating").show(10)

#count the number of rows in ratings_movies_df dataframe
ratings_movies_df.count()

+------+-------+------+------+
|userId|movieId|genres|rating|
+------+-------+------+------+
|    14|     26| Drama|   4.0|
|    31|     26| Drama|   2.0|
|    51|     26| Drama|   4.0|
|    79|     26| Drama|   4.0|
|   156|     26| Drama|   4.0|
|   161|     26| Drama|   3.0|
|   203|     26| Drama|   4.0|
|   219|     26| Drama|   3.0|
|   220|     26| Drama|   2.5|
|   228|     26| Drama|   4.0|
+------+-------+------+------+
only showing top 10 rows

100023

In [56]:
# Count ratings for each movie, and list top 5 movies with the highest value

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Calculate the count of ratings for each movie
movie_rating_count_df = ratings_movies_df.groupBy("movieId").agg(
    F.count("rating").alias("rating_count")
)

# Join the top_movies_df with the movies_df dataframe to get the movie titles
top_movies_df = movie_rating_count_df.join(movies_df, on="movieId", how="left")

top_movies_df.select("movieId", "title", "rating_count").sort("rating_count", ascending=False).show(5, truncate=False)

+-------+-------------------------+------------+
|movieId|title                    |rating_count|
+-------+-------------------------+------------+
|593    |Silence of the Lambs, The|337         |
|318    |Shawshank Redemption, The|328         |
|296    |Pulp Fiction             |327         |
|480    |Jurassic Park            |324         |
|356    |Forrest Gump             |318         |
+-------+-------------------------+------------+
only showing top 5 rows

In [53]:
# Find and list top 5 most rated genres

genre_rating_count_df = ratings_movies_df.groupBy("genres").agg(
    F.count("rating").alias("rating_count")
)

genre_rating_count_df.sort("rating_count", ascending=False).show(5, truncate=False)

+--------------+------------+
|genres        |rating_count|
+--------------+------------+
|Drama         |7008        |
|Comedy        |6396        |
|Comedy|Romance|3877        |
|Drama|Romance |3121        |
|Comedy|Drama  |3000        |
+--------------+------------+
only showing top 5 rows

In [58]:
#Find and list top 5 most rated tags except null values

tags_rating_count_df = ratings_movies_df.join(tags_df, on="movieId", how="left").groupBy("tag").agg(
    F.count("rating").alias("rating_count")).filter(tags_df.tag.isNotNull())

tags_rating_count_df.sort("rating_count", ascending=False).show(5, truncate=False)

+------------+------------+
|tag         |rating_count|
+------------+------------+
|drama       |3542        |
|sci-fi      |3035        |
|twist ending|2998        |
|psychology  |2672        |
|crime       |2570        |
+------------+------------+
only showing top 5 rows

In [61]:
# By using timestamp from ratings table, provide top 5 most frequent users within a week

genre_rating_count_df = ratings_movies_df.groupBy("userId").agg(
    F.count("timestamp").alias("timestamp_count")
)

genre_rating_count_df.sort("timestamp_count", ascending=False).show(5, truncate=False)

+------+---------------+
|userId|timestamp_count|
+------+---------------+
|516   |2268           |
|384   |1412           |
|187   |1338           |
|31    |1283           |
|377   |1241           |
+------+---------------+
only showing top 5 rows

In [62]:
# Calculate average ratings for each genre, and plot average ratings of top 10 genres with descending order

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Calculate the average rating for each genre
genre_rating_avg_df = ratings_movies_df.groupBy("genres").agg(
    F.avg("rating").alias("rating_avg")
)

# Sort the dataframe by rating_avg column
genre_rating_avg_df.sort("rating_avg", ascending=False).show(10, truncate=False)

+--------------------------------------------------------+----------+
|genres                                                  |rating_avg|
+--------------------------------------------------------+----------+
|Animation|Documentary                                   |5.0       |
|Crime|Documentary|War                                   |5.0       |
|Adventure|Fantasy|Mystery                               |5.0       |
|Action|Adventure|Animation|Comedy|Fantasy|Mystery|Sci-Fi|5.0       |
|Crime|Horror|Mystery                                    |4.75      |
|Animation|Comedy|Horror|IMAX                            |4.5       |
|Comedy|Crime|Western                                    |4.5       |
|Adventure|Crime|Drama|Horror|Mystery                    |4.5       |
|Adventure|Comedy|Crime|Drama|Romance                    |4.5       |
|Action|Animation|Drama|Fantasy|Sci-Fi                   |4.5       |
+--------------------------------------------------------+----------+
only showing top 10 rows

## TASK 2 - Recommender Design

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

In [ ]:
spark = SparkSession.builder.appName("movieRecommendation").getOrCreate()

In [ ]:
# using movie rating data to probide implicit feature using ALS(Alternate Least Squares)

movie_rating=[]

for row in cur.execute("""SELECT userId, movieId, rating 
                          FROM ratings
                                      """):
  movie_rating.append(row)

schema = ["userId", "movieId", "rating"]
 
# calling function to create dataframe
movie_rating_df = spark.createDataFrame(movie_rating, schema)

movie_rating_df

In [ ]:
# description of created schema 
movie_rating_df.printSchema()

In [ ]:
#splitting dataset to train the model as 80% for train and remaining for test data.
(train, test) = movie_rating_df.randomSplit([0.8, 0.2], seed=87)

In [ ]:
# 1st Recommender model - Alternating Least Square (ALS) Matrix Factorization in Collaborative Filtering on rating (as actual values) 

als = ALS(rank=10, maxIter=15, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating", coldStartStrategy="drop")

model = als.fit(train)

pred = model.transform(test)

pred = pred.selectExpr("userId as userId","movieId as movieId","rating as rating","prediction as implicit")

pred.show(truncate=False)

In [ ]:
#calculating RMSE and MAE to evaluate performance of the models. 

eval_rmse = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="implicit")
eval_mae = RegressionEvaluator(metricName="mae", labelCol="rating", predictionCol="implicit")


rmse = eval_rmse.evaluate(pred)
mae = eval_mae.evaluate(pred)


print("RMSE of ALS:", rmse)
print("MAE of ALS:", mae)

In [ ]:
# 2nd Recommender model - Alternating Least Square (ALS) Matrix Factorization in Collaborative Filtering on designed implicit feedback values 


(train_implicit, test_implicit) = pred.randomSplit([0.8, 0.2], seed=87)

als_implicit = ALS(rank=10, maxIter=15, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="implicit", coldStartStrategy="drop")

model_implicit = als_implicit.fit(train_implicit)

pred_implicit = model_implicit.transform(test_implicit)

pred_implicit.show(truncate=False)

In [ ]:
eval_rmse = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
eval_mae = RegressionEvaluator(metricName="mae", labelCol="rating", predictionCol="prediction")


rmse = eval_rmse.evaluate(pred_implicit)
mae = eval_mae.evaluate(pred_implicit)


print("RMSE of ALS_Implicit Feedback:", rmse)
print("MAE of ALS_Implicit Feedback:", mae)

When compared these two models, the 1st model ( ALS on rating ) shows better performance compared to 2nd model (ALS on implicit feedback) according to error metrics such as Root Mean Square Error (RMSE) and Mean Absolute Error (MAE).

## Task â€“ 3 Text Analysis

In [ ]:
spark = SparkSession.builder.appName("textAnalysis").getOrCreate()

In [ ]:
from pyspark.ml.feature import Tokenizer, RegexTokenizer
from pyspark.sql.functions import col, udf

In [ ]:
# download the data in Dataset folder.



!curl -o Datasets/aclImdb_v1.tar.gz https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz

In [ ]:
#Extract the tar file as dataset

import tarfile

def tarfile_extract(tar_file, output_dir=os.getcwd()+'/Datasets'):
    tar = tarfile.open(tar_file, 'r:gz')
    total_files = sum(1 for _ in tar)
    tar.extractall(output_dir, members=extract_progress(tar, total_files))
    tar.close()

def extract_progress(tar, total_files):
    for member in tar:
        yield member
        total_files -= 1
        print(f"Remaining files: {total_files}", end='\r')
    print("\nExtraction completed.")

wd = os.getcwd()
tarfile_extract(wd+'/Datasets/aclImdb_v1.tar.gz')

In [ ]:

#using 'alldata' list to store all the files in the directories
alldata=[]


#collecting data in train/pos folder
for fname in os.listdir(wd+'/Datasets/aclImdb/train/pos'):
    with open(os.path.join(wd+'/Datasets/aclImdb/train/pos', fname), encoding = 'utf-8') as infile:
        for line in infile:
            alldata.append((line,'train','pos'))

#collecting data in train/neg folder
for fname in os.listdir(wd+'/Datasets/aclImdb/train/neg'):
    with open(os.path.join(wd+'/Datasets/aclImdb/train/neg', fname), encoding = 'utf-8') as infile:
        for line in infile:
            alldata.append((line,'train','neg'))
#collecting data in test/pos folder
for fname in os.listdir(wd+'/Datasets/aclImdb/test/pos'):
    with open(os.path.join(wd+'/Datasets/aclImdb/test/pos', fname), encoding = 'utf-8') as infile:
        for line in infile:
            alldata.append((line,'test','pos'))
#collecting data in test/neg folder
for fname in os.listdir(wd+'/Datasets/aclImdb/test/neg'):
    with open(os.path.join(wd+'/Datasets/aclImdb/test/neg', fname), encoding = 'utf-8') as infile:
        for line in infile:
            alldata.append((line,'test','neg'))

In [ ]:

from pyspark.sql.types import ArrayType, StructField, StructType, StringType, IntegerType

appName = "list to Spark Data Frame"
master = "local"

# Create Spark session
spark = SparkSession.builder \
    .appName(appName) \
    .master(master) \
    .getOrCreate()

# List
data = alldata

# Create a schema for the dataframe
schema = StructType([
    StructField('content', StringType(), True),
    StructField('label', StringType(), True),
    StructField('sentiemtn', StringType(), True)
])

# Convert list to RDD
rdd = spark.sparkContext.parallelize(data)

# Create data frame
df = spark.createDataFrame(rdd,schema)
print(df.schema)
df.show()

In [ ]:
df.count()

In [ ]:
# Schema of created Spark Dataframe

df.printSchema()

###Tokenization

In [ ]:
#using RegexTokenizer for tokenizing contents

tokenizer = RegexTokenizer(inputCol="content", outputCol="tokenized_content", pattern="\\W") # used regexp to determine pattern as 'not word'

countTokens = udf(lambda w: len(w), IntegerType())

tokenized = tokenizer.transform(df)

tokenized.show()

### Removing Stop Words

In [ ]:
type(tokenized)

In [ ]:
from pyspark.ml.feature import StopWordsRemover

tokenized.show()

In [ ]:
df_tokenized = tokenized.select("tokenized_content").withColumn("tokenCount", countTokens(col("tokenized_content")))

In [ ]:
type(df_tokenized)

In [ ]:
# SWR -> stop word remover
SWR  = StopWordsRemover (inputCol='tokenized_content', outputCol='SWRed')


#See the result of removal operation
SWR.transform(df_tokenized).select('SWRed').show(truncate=False)